# Arquivos compilados do Rust
/target/
**/*.rs.bk
*.pdb

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp 